@import "tailwindcss";

:root {
  --primary-color: #31694E;
  --primary-hover: #2a5a42;
  --primary-light: #3d7a5f;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}